.heading {
    text-align: center;
  }
#nav{
    background-color: rgb(223, 215, 211);
    padding: 2%;
    
}
.footer{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
#options{
  margin-top: 20px;
  margin-left: 64%;
}