.heading {
    text-align: center;
  }
body{
    background-color: rgb(234, 225, 221);
}
.footer{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
#add{
  margin-top: 15px;
  margin-left: 77%;
}
